@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@*<h2>Change your account settings</h2>*@

<partial name="_StatusMessage" for="StatusMessage" />

@*<div class="row">
    <div class="col-md-4">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-md-2" style="text-align:end;">
        <button type="button" class="btn btn-md btn-primary" id="password_edit" onclick="onEditPassword()">Edit</button>
    </div>
</div>*@


<div class="row py-3 mx-0" style="justify-content: center;">
    <div class="col-md-10">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-group mb-3">
                <label asp-for="Input.OldPassword" class="label"></label>
                <input asp-for="Input.OldPassword" class="form-control" id="password_oldPass" autocomplete="current-password" aria-required="true" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.NewPassword" class="label"></label>
                <input asp-for="Input.NewPassword" class="form-control" id="password_newPass" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Input.ConfirmPassword" class="label"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" id="password_ReNewPass" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

          @*  <div class="d-inline-flex" style="margin-left:auto;margin-right:auto;">
                <div class="form-group mb-3 px-1">
                    <button id="reset-pass-button" type="reset" class="btn btn-lg btn-primary" style="display:none" onclick="onPasswordReset()">Cancel</button>
                </div>
                <div class="form-group mb-3 px-1">
                    <button id="update-pass-button" type="submit" class="btn btn-lg btn-primary" style="display:none">Update Password</button>
                </div>
            </div>*@

            <div class="d-inline-flex" style="margin-left:auto;margin-right:auto;justify-content: space-between;">
                <div class="form-group mb-3 mr-1">
                     <button id="reset-pass-button" type="reset" class="btn btn-lg btn-primary" style="display:none" onclick="onPasswordReset()">
                        <i class="fa fa-times" style="font-size: 20px;;" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="form-group mb-3 mr-1">
                    <button id="update-pass-button" type="submit" class="btn btn-lg btn-primary" style="display:none">
                        <i class="fa fa-floppy-o" style="font-size: 20px;" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="form-group mb-3 mr-1">
                    <button type="button" class="btn btn-md btn-primary" id="password_edit" onclick="onEditPassword()"><i class="fa fa-pencil" style="font-size: 20px;"></i></button>
                </div>
            </div>

           @* <div style="display:flex;flex-direction:column;">
                <button id="reset-pass-button" type="reset" class="w-50 btn btn-lg btn-primary" style="display:none" onclick="onPasswordReset()">Cancel</button>
                <button id="update-pass-button" type="submit" class="w-50 btn btn-lg btn-primary" style="display:none">Update Password</button>
            </div>*@
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/passworddetails.js"></script>
    }
